@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/*font-family: "Libre Baskerville", serif;*/
/* font-family: "Special Elite", system-ui; */
/* font-family: "Bebas Neue", sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Libre Baskerville", serif;
    /* background-color: #a1e0ed; */
}

.navbar{
    background-color: #a1e0ed;
    display: flex;
    align-items: center;
    height: 120px;
    position: relative;
    width: 100%;
}

.logo{
    flex: 20%;
    /* border: 1px solid red; */
    padding: 15px;
    text-align: center;
    margin-left: 10%;
}

.logo h1{
    font-family: "Special Elite", system-ui;
    font-size: 40px;
}

.menu{
    flex: 65%;
    /* border: 1px solid blue; */
    padding: 15px;
    text-align: right;
    font-weight: bold;


}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    margin-right: 35px;
    border-radius: 15px;
}

.menu a:hover{
    background: white;
    color: black;
}

.user{
    flex: 15%;
    /* border: 1px solid green; */
    padding: 15px;
    margin-right: 10%;
    text-align: center;
    font-weight: bold;
}

.user a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 15px;
}

.user a:hover{
    background: #fddd73;
    color: black;
}

.header{
    background: #a1e0ed;
    height: 725px;
    display: flex;
    margin-top: 30px;
}

.slogan {
    flex: 40%;
    /* border: 3px solid red; */
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan h2 {
    text-align: center;
}

.slogan p{
    font-family: "Libre Baskerville", serif;
    text-align: justify;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

#ideia{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    font-size: 70px;
}

#papel{
    padding: 25px;
    font-family: "Special Elite", system-ui;
    font-size: 100px;
    margin-top: 75px;
    margin-bottom: 50px;
}

.img-header {
    flex: 60%;
    /* border: 3px solid orange; */
    margin-right: 10%;
}

#img-principal{
    width: 100%;
    height: 100%;
}

#diferencial{
    margin-top: 25px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    font-size: 50px;
    text-align: center;
}

.aboutus{
    /* border: 3px solid blue; */
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: fit-content;
}

.diferencial{
    display: block;
    width: 100%;
    /* border: 1px solid deeppink; */
}

.topicopai{
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    height: 400px;
}

.topico{
    background-color: #fddd73;
    border-radius: 5%;
    text-align: center;
    margin-top: 15px;
    margin: 1%;
    padding: 2%;
}

.topico h3{
    margin-top: 15px;
    margin-bottom: 35px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 35px;
}

footer{
    height: 200px;
    margin-top: 50px;
    border: 1px solid yellowgreen;
}
.containerfooter{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
}

.navfooter{
    border: 1px solid black;

}

.ajuda{
    border: 1px solid black;
}

.lista{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.lista a{
    text-decoration: none;
    font-weight: lighter;
    color: black;
    padding: 5px 0 5px 0;
}

.hfooter h4{
    border-bottom: 1px solid black;
}

.hfooter a{
    text-decoration: none;
    font-weight: lighter;
    color: black;
    padding: 5px 0 5px 0;
}

.ajuda{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
